# ignore everything by default
*

# re-allow all directories so rules below can work inside them
!*/

# allow only these file types
!*.csv
!*.docx
!*.html
!*.jpeg
!*.jpg
!*.png
!*.svg
!*.txt

# keep this file
!.gitignore
